/* CSS declarations go here */
.replacement-line{
    display: none;
}

.alternative-lines .main-line{
    margin-left: 20px;
    border-bottom: 1px solid orange;
}

#add-new-line-link{
    margin-top: 20px;
}

#poem-table{
    max-width: 600px;
}

.row.replacement-line, .row.replacement-line .row {
    margin-bottom: 0px;
}

#input-field-row{
    position: relative;
}

.replacement-line .input-field {
    margin-top: 0px;
}

#add-replacement-line-link{
    position: absolute;
    bottom: 10px;
}

#sign-in-reminder {
    height: 30px;
}

.main-line {
    border-bottom: none;
}

.favorite-up {
    float: right;
    margin-left: 8px;
}

.poem-text {
    white-space: pre-line;
    border-left: solid 1px lightgrey;
    padding-left: 35px;

    display: none;
}

.poem-text#full-poem {
    white-space: pre-line;
    display: block;
}

.poem-title-text {
    font-weight: bold;
}

.line-user {
    float: right;
}

.remove {
    float: right;
    margin-left: 5px;
}

.poem-title {
    font-size: 2rem;
}
