/* CSS declarations go here */
.replacement-line{
    display: none;
}

.alternative-lines .main-line{
    margin-left: 20px;
}

#add-new-line-link{
    margin-top: 40px;
}

#poem-table{
    max-width: 400px;
}

.row.replacement-line, .row.replacement-line .row {
    margin-bottom: 0px;
}

#input-field-row{
    position: relative;
}

.replacement-line .input-field {
    margin-top: 0px;
}

#add-replacement-line-link{
    position: absolute;
    bottom: 10px;
}

#sign-in-reminder {
    height: 30px;
}
