/* CSS declarations go here */
.replacement-line{
    display: none;
}

.alternative-lines .main-line{
    margin-left: 20px;
}

#add-new-line-link{
    margin-top: 40px;
}

#poem-table{
    max-width: 400px;
}

.row.replacement-line, .row.replacement-line .row {
    margin-bottom: 0px;
}

.replacement-line .input-field {
    margin-top: 0px;
}

#add-replacement-line{
    margin-top: 20px;
}

table#poem-table td{
    vertical-align: top;
}
